# ignore tenant related files
okapi_token
okapi_url
okapi_username
okapi_password
tenant

# ignore directories created during runtime
Inventory/Instances/data/
Inventory/Instances/hrid/
Inventory/Instances/-H
Inventory/Instances/log_deleted_records
Inventory/Bound-with-parts/log_deleted_bound_with_parts/

Agreements/log_updated_records
Agreements/data
Agreements/uuid

Users/cookiefile
Users/perms

Licenses/data

# ignore another file
Inventory/-H
Agreements/-H